@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #edf7fc;
  /* overflow-x: hidden; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.searched::-webkit-scrollbar {
  width: 3px;
  border-radius: 20px;
}

.searched::-webkit-scrollbar-thumb {
  background-color: #038ac99f;
}

.story-1 {
  background: linear-gradient(#4a9cd2c0, #4a9cd2c0, #4a9cd2c0, #4a9cd2c0),
    url("/src/assets/story/story-bg.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
}

.shadow {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    /* Bottom shadow */ 0 2px 4px -2px rgba(0, 0, 0, 0.1),
    /* Bottom shadow */ 0 -2px 4px -1px rgba(0, 0, 0, 0.1); /* Top shadow */
}

/* 
.friend-request-container {
  clip-path: polygon(14% 0, 19% 8%, 100% 6%, 100% 100%, 0 100%, 0 9%, 10% 9%);
} */
